<div class="availablecontent">
    <div class="imagebrowse">
        <img src="../assets/images/browse.png" style="width:350px; height: 300px;" class="girlreading">
    </div>
    <div class="availablebooks">
        <!--append all books in database here-->

    </div>
    <h5 class="linktoapi">Didn't find the book you were looking for? We got you! <a href="/search-apibook">Click me!</a></h5>
</div>