<!--test/ delete when done-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/ico" href="./images/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <script src=" https://use.fontawesome.com/f9f13d875e.js"></script>
</head>
<body>
    <div class="createcontent">
        <h5 class="rules">Before you submit your book, please read our <a href="#">Terms and Conditions</a>!</h5>
    <div class="container-submit">
        <form method="POST" action="/main/add-book" class="submitcont">
                <div class="form-group">
                    <label for="formGroupExampleInput">Book Title</label>
                    <input type="text" class="form-control"  placeholder="Enter book title" name="title" >
                    </div>
                    <div class="form-group">
                    <label for="formGroupExampleInput">Author</label>
                    <input type="text" class="form-control"  placeholder="Enter the book's author" name="author" >
                    </div>
            
                    <div class="form-group">
                    <label for="formGroupExampleInput">Price</label>
                    <input type="number" min="5.00" max="100.00" step="0.01" class="form-control"  placeholder="5.00" name="price"  >
                    </div>
                    <div class="form-group">
                    <label for="formGroupExampleInput">Description</label>
                    <input type="text" class="form-control"  placeholder="Enter a brief description" name="description" >
                    </div>
                    <div class="form-group">
                    <label for="formGroupExampleInput">Book Cover</label>
                    <input type="text" class="form-control"  placeholder="Submit the cover URL" name="cover">
                    </div>
                    <input name="submit" class="btn submit-btn" value="Submit your book">
            </form>
			<span class="todo-container">
			</span>
    </div>
</div>
<div class="termsandreg" id="terms">

</div>
    <script src="./public/js/main.js" type="text/javascript"></script>
</body>
</html>
