<div class="availablecontent">
<div class="imagebrowse">
        <img src="/assets/images/browse.png" style="width:350px; height: 300px;" class="girlreading">
    </div>
<div id="search">
    <form id="myform">
        <div class="input-field">
            
        </div>
        <button class="btn btn-search1" type="button" id="search-btn"> Add Another Book</button>
    </form>
  </div>
  <div class="allbooksdisplayed">
{{#each books}}

    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="{{jpegImg}}" alt="">
            <div class="card-body">
                <h4 class="card-title">{{title}}</h4>
                <p class="card-text">{{description}}</p>
                <a class="btn btn-block" href="#">Add To Cart</a>
                <a class="btn btn-block" href="#">Edit</a>
            </div>
        </div>   
    </div> 

{{/each}}
</div>
{{!-- <h5 class="linktoapi">Didn't find the book you were looking for? We got you! <a href="/search-apibook">Click me!</a></h5> --}}
</div>

