<div class="apicontent">
    <div class="imagesearch">
        <img src="../assets/images/searchapi.png" style="width:350px; height: 300px;" class="girlreading">
    </div>
<div id="search">
    <form id="myform">
        <div class="input-field">
            <input type="search" id="search-box" class="form-control" placeholder="Search for Books" aria-describedby="button-addon2">
        </div>
        <button class="btn btn-search" type="button" id="search-btn">Search</button>
    </form>
  </div>
  <div class="results">
      <!--results-->
  </div>
</div>