/*login start*/
body{
    font-family: 'Muli', sans-serif;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto; 
    margin-left: auto;
}

.intro-section{
    background-image: url("../images/bookhalf.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    color: goldenrod;
}

.intro-content-wrapper{
    width: 371px;
    max-width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.form-section{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(63, 5, 23);
}

.login-wrapper-signup-text{
    font-size: 16px;
    padding-top: 50px;
    width: 410px;
    max-width: 100%;
}

h1{
    margin: 50px 50px;
    margin-top: -20px;
}

.logotext{
    font-size: 16px;
}

p{
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 50px;
}

.login-wrapper{
    width: 410px;
    max-width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #fcfcfc;
    height: 300px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.login-wrapper-signup-text{
    color: honeydew;
}

.login-wrapper .form-control{
    min-height: 55px;
    border: 0;
    border-radius: 4px;
    font-size: 15px;
    background-color: #f4f4f4;
    padding: 19px 25px 18px;
    margin-bottom: 18px;
}

.login-btn{
    padding: 17px 40px 16px 41px;
    border-radius: 4px;
    background-color: goldenrod;
    font-size: 17px;
    font-weight: bold;
    color: white;
    line-height: 20px;
}

.login-btn:hover{
    color: white;
}

.logologin{
    width: 60px;
    margin-left: 15px;
}
/* .intro-section-footer{
    font-size: 12px;
    margin-left: -20px;
} */
/*login end*/

/*signup start*/

.contentholder{
    background-image: url("../images/book3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.signup-btn{
    padding: 17px 40px 16px 41px;
    border-radius: 4px;
    background-color: goldenrod;
    font-size: 17px;
    font-weight: bold;
    color: white;
    line-height: 20px;
}

.signup-btn:hover{
    color: white;
}

.signup-wrapper{
    width: 410px;
    max-width: 100%;
    /* margin-top: auto;
    margin-bottom: auto; */
    margin: auto;
    background-color: #fcfcfc;
    height: 440px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.signup-wrapper .form-control{
    min-height: 55px;
    border: 0;
    border-radius: 4px;
    font-size: 15px;
    background-color: #f4f4f4;
    padding: 19px 25px 18px;
    margin-bottom: 18px;
}


/*signupend*/