    .box {
        background-image: url("../images/librarybooks.gif");
        background-repeat: no-repeat;
        margin: 100px;
        padding: 200px;
        background-size: cover;
        background-position: center;
    }
    
    .raise-modal {
        position: relative;
        top: -89%;
        /* display: block; */
        border: solid red;
        width: 46%;
        margin: auto;
    }
    
    .hidden {
        display: none
    }
    
    h1 {
        font-size: 6vw;
        text-transform: uppercase;
        letter-spacing: 1pt;
        margin-bottom: 15px;
    }
    
    #addbtn {
        padding: 10px 25px 10px 20px;
        border-radius: 1px;
        background-color: goldenrod;
        font-size: 15.5px;
        font-weight: bold;
        color: white;
        line-height: 20px;
        font-family: 'Muli', sans-serif;
    }
    
    #searchbtn {
        padding: 10px 25px 10px 20px;
        border-radius: 1px;
        background-color: goldenrod;
        font-size: 15.5px;
        font-weight: bold;
        color: white;
        line-height: 20px;
        font-family: 'Muli', sans-serif;
    }
    
    #addbtn:hover {
        color: white;
    }
    
    #searchbtn:hover {
        color: white;
    }
    
    body,
    html {
        margin: 0;
        height: 100%;
        text-align: center;
        font-family: 'Muli', sans-serif;
        ;
        color: #999;
    }
    
    #table {
        display: table;
        width: 100%;
        height: 100%;
        background-color: #4e4848;
    }
    
    #centeralign {
        display: table-cell;
        vertical-align: middle;
    }
    
    .modalbg {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s;
    }
    
    .modal {
        position: relative;
        background-color: white;
        height: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    
    .modal button {
        padding: 10px 30px;
        background-color: goldenrod;
        color: white;
        border: none;
        font-family: 'Muli', sans-serif;
        ;
    }
    
    .modal-close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-weight: bold;
        cursor: pointer;
    }