    .box {
        background-image: url("../images/librarybooks.gif");
        background-repeat: no-repeat;
        margin: 100px;
        padding: 200px;
        background-size: cover;
        background-position: center;
    }
    
    h1 {
        font-size: 6vw;
        text-transform: uppercase;
        letter-spacing: 1pt;
        margin-bottom: 15px;
    }
    
    #button1,
    #button2 {
        padding: 17px 35px 16px 41px;
        border-radius: 1px;
        background-color: goldenrod;
        font-size: 13px;
        font-weight: bold;
        color: white;
        line-height: 20px;
    }
    
    .login-btn:hover {
        color: white;
    }
    
    body,
    html {
        margin: 0;
        height: 100%;
        text-align: center;
        font-family: 'Oxygen Mono', monospace;
        color: #999;
    }
    
    #table {
        display: table;
        width: 100%;
        height: 100%;
        background-color: #4e4848;
    }
    
    #centeralign {
        display: table-cell;
        vertical-align: middle;
    }
    
    .modal-bg {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s;
    }
    
    .bg-active {
        visibility: visible;
        opacity: 1;
    }
    
    .modal {
        background-color: white;
        width: 30%;
        height: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    
    .modal button {
        padding: 10px 30px;
        background-color: goldenrod;
        color: white;
        border: none;
        font-family: 'Oxygen Mono', monospace;
    }